.myColor{
  background: deepskyblue;
  margin:10px;
  border: white;
  box-shadow: 5px 4px 5px;
}
#history{
  margin:10px;
  border: white;
  box-shadow: 5px 4px 5px;
}
p{
  color: white;
  text-align: center;
}
h1{
  text-align: center;
  color: white;
}
h3{
  color: white;
  text-align: center;
}
.answer{
  background: deepskyblue;
}
.answer:focus{
  background-color: yellow;
}
button{
  color: white;
}
